<app-header>
    <ng-container>
        <div class="login__username" *ngIf="isLoggedIn">{{ userName }}</div>

        <ng-container *ngIf="isLoggedIn; else loginButton">
            <app-button [buttonText]="'LOGOUT'" (click)="toggleLogin()"></app-button>
        </ng-container>

        <ng-template #loginButton>
            <app-button [buttonText]="'LOGIN'" (click)="toggleLogin()"></app-button>
        </ng-template>
  </ng-container>
</app-header>
<app-info [title]="'Your List Is Empty'" [text]="'Please use ’Add New Course’ button to add your first course'">
    <app-button [buttonText]="'ADD NEW COURSE'"></app-button>
</app-info>
<app-courses></app-courses>
<app-course-info></app-course-info>